.container {
  width: 90%;
  height: 100%;
  padding: 15px;
  margin: auto;
}

.list {
  display: flex !important;
  align-items: center !important;
  // justify-content: space-between!important;
}

.item {
  height: 250px;
  margin: 5px 0;
  cursor: pointer;
  overflow: hidden;
}

.item .title,
.item .currency {
  position: absolute;
  z-index: 20;
  width: fit-content;
  min-width: fit-content;
  background: rgba($color: #fff, $alpha: 0.6);
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 600;
}

.item .currency {
  margin-top: 213px;
}

.gallery {
  margin-top: 35px;
}

.carousel {
  height: 260px;
  min-height: 26px;
  max-height: 265px;
  margin-top: 20px;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}

.carousel-item {
  margin: 0 5px;
  cursor: pointer;
  overflow: hidden;
}
