<div class="content">
  <div fxLayout class="header">
    <div>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="['/admin']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">Admin</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="['/admin/circuit']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">Circuit</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
    <div>
      <button nz-button class="add-btn"
      (click)="onAdd()">Ajouter</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<!-- <div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="65%" fxFlex.sm="100%" fxFlex.xs="100%">
    <app-circuit-list></app-circuit-list>
  </div>
  <div fxFlex="35%" fxFlex.sm="100%" fxFlex.xs="100%">
    <app-circuit-form></app-circuit-form>
  </div>
</div> -->